fastapi
uvicorn
python-dotenv
dateparser
langchain-openai
langgraph
langchain-community
langchain-core
google-api-python-client
google-auth
google-auth-oauthlib
streamlit
firebase-admin
tqdm
pyrebase4==4.5.0
requests==2.31.0
requests-toolbelt==0.10.1
urllib3==1.26.16
